31218_정윤호_0410_4

# . 리스트
```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트 이름 = [데이터1, 데이터2, ..., 데이터n]
```

In [1]:
# 1월 지출부터 6월 지출까지 리스트로 만들기
spending = [25, 36, 8, 53, 24, 56]

In [2]:
print(spending)

[25, 36, 8, 53, 24, 56]

In [3]:
# 자료형이 어떻게 되는지 알아보는 명령어 type
type(spending)

list

In [4]:
# 1월 지출은?
print(spending[0])

25

In [5]:
# 6월 지출은?
print(spending[5])

56

In [6]:
# 3월 지출은?
print(spending[2])

8

In [10]:
#문제 3월과 6월 지출 합은?
print(spending[2]+spending[5])

64

알고보니 4월 지출이 10 낮게 기록됐다. <br>4월 지출에 10을 더하시오

In [15]:
print('변경전' , spending)
spending[3] += 10
print('변경후' , spending)

변경전 [25, 36, 8, 63, 4, 56]
변경후 [25, 36, 8, 73, 4, 56]

5월 지출을 2로 나누시오

In [19]:
print('변경전' , spending)
spending[4] /= 2
print('변경후' , spending)

변경전 [25, 36, 8, 73, 0.04, 56]
변경후 [25, 36, 8, 73, 0.02, 56]

### 마이너스 인덱스

In [24]:
print(spending[5])
print(spending[-1])

56
56

In [25]:
print(spending[4])
print(spending[-2])

0.02
0.02

# 2. 리스트의 다양한 기능

### 리스트 길이 확인
> len(리스트이름)

In [26]:
# spending의 길이를 구하라
len(spending)

6